<ion-row>
  <ion-col class="ion-text-center">
    <p>Esto es lo que debes hacer hoy para completar tu progreso diario</p>
  </ion-col>
</ion-row>
 
<br><br>

<ion-row>
  <ion-col size="6" offset="3">

    <ion-row class="ion-text-center" >
      <ion-col >
        <div class="circulo" routerLink="/video">1</div>
        <p>Mira este corto video</p>
      </ion-col>
    
      <ion-col>
        <div class="circulo" routerLink="/cuestionario">2</div>
        <p>Completa este cuestionario</p>
      </ion-col>
    
      <ion-col>
        <div class="circulo" routerLink="/audio">3</div>
        <p>Escucha este audio y responde</p>
      </ion-col>
    
      <ion-col>
        <div class="circulo" routerLink="/agendar-llamada">4</div>
        <p>Agenda tu llamada de practica </p>
      </ion-col>
    
    </ion-row>


  </ion-col>
</ion-row>


