.circulo{
    background-color: rgb(62, 62, 62);
    border-radius: 100vh;
    width: 10vh;
    height: 10vh;
    display: grid;
    place-items: center;
    margin-left: 25%;
    transition: 0.5s;
}

.circulo:hover{
    background-color: rgb(142, 141, 141);
}
