


<ion-row>
  <ion-col id="cajaLogin"  size-xl="8.5" offset-xl="1.7" size-lg="10" offset-lg="1" size-md="5" offset-md="3.5" size-sm="7" offset-sm="2.5" size-xs="10" offset-xs="1">
    <ion-row> 
      <ion-col class="ion-text-center">
        <h2>LogIn</h2>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="9" offset="1">
        <ion-input label="User" labelPlacement="floating" placeholder="Type here"></ion-input>
        <ion-input label="Password" labelPlacement="floating" placeholder="Type here"></ion-input>  
      </ion-col>
    </ion-row>
<br>

    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button size="block" routerLink="/home">Go</ion-button>
      </ion-col>
    </ion-row>
    <br><br>
  </ion-col>
</ion-row>


     





