<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
    <ion-title>Video</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-row>
    <ion-col id="cajaTareas" size-xl="2" offset-xl="1" size-lg="2" offset-lg="1" size-md="10" offset-md="1" size-sm="10"
      offset-sm="1" size-xs="11" offset-xs="0.5">
      <ion-row>
        <ion-col size-xl="12">
          <div class="circulo activo">1</div>
        </ion-col>
        <ion-col size-xl="12">
          <div class="circulo">2</div>
        </ion-col>
        <ion-col size-xl="12">
          <div class="circulo">3</div>
        </ion-col>
        <ion-col size-xl="12">
          <div class="circulo">4</div>
        </ion-col>
      </ion-row>
    </ion-col>



    <ion-col id="cajaActividad" size-xl="8" size-lg="8" offset-lg="0" size-md="10" offset-md="1" size-sm="10"
      offset-sm="1" size-xs="11" offset-xs="0.5">
      <ion-row>
        <ion-col class="ion-text-center">
          <video class="mi-video" controls>
            <source src="../../assets/vid/Lesson1.mp4" type="video/mp4">
            Tu navegador no soporta el elemento <code>video</code>.
          </video>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col class="ion-text-center">
      <ion-button routerLink="/intro-leccion">Atrás</ion-button>
      <ion-button routerLink="/cuestionario">Siguiente</ion-button>
    </ion-col>
  </ion-row>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>