

<ion-list id="caja" >
  <br><br><br>

<div class="ion-text-center">
    <audio src="../../assets/audio/audioLesson1.mpeg" controls >
      Tu navegador no soporta el elemento <code>audio</code>.
    </audio>
    <p>Con base en este audio responde:</p>
</div>

  <br><br>  <br><br>
  <ion-label>1. What does the speaker plan to do next month?</ion-label><br><br><br>
  <ion-radio-group value="">
    <ion-radio value="a" labelPlacement="end">a) Stay at home</ion-radio><br />
    <ion-radio value="b" labelPlacement="end">b)  Visit their grandparents</ion-radio><br />
    <ion-radio value="c" labelPlacement="end">c) Go to the park</ion-radio><br />
    <ion-radio value="d" labelPlacement="end">d)  Drink coffee</ion-radio>
  </ion-radio-group>

  <br><br><br>
  <ion-label>2. Which of the following is an example of the correct structure for a yes or no question? </ion-label><br><br><br>
  <ion-radio-group value="">
    <ion-radio value="a" labelPlacement="end">a) Conjugating verbs in questions</ion-radio><br />
    <ion-radio value="b" labelPlacement="end">b) Formulating yes or no questions</ion-radio><br />
    <ion-radio value="c" labelPlacement="end">c) Discussing different programming languages</ion-radio><br />
    <ion-radio value="d" labelPlacement="end">d) Understanding software updates</ion-radio>
  </ion-radio-group>

  <br><br><br>
  <ion-label>2. What is the primary focus of today's lesson?</ion-label><br><br><br>
  <ion-radio-group value="">
    <ion-radio value="a" labelPlacement="end">a) Conjugating verbs in questions</ion-radio><br />
    <ion-radio value="b" labelPlacement="end">b) Formulating yes or no questions</ion-radio><br />
    <ion-radio value="c" labelPlacement="end">c) Discussing different programming languages</ion-radio><br />
    <ion-radio value="d" labelPlacement="end">d) Understanding software updates</ion-radio>
  </ion-radio-group>
  <br><br><br>

  <ion-button size="block" shape="round">Revisar</ion-button>
  <br><br><br>
</ion-list>