

<ion-content [fullscreen]="true">


    

<!-- Banner -->

  <ion-row>
    <ion-col size-lg="8" size-md="12" size-sm="12" size-xs="12" id="cajaBanner" class="ion-text-center"> 

     <h2>LinguoBoost</h2>
      <p>Advanced English for better tecnology</p>
    </ion-col>

<!-- LogIn -->

    <ion-col id="cajaLogin">
    
        
        <app-formulario-login></app-formulario-login>
    
    </ion-col>
  </ion-row>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>